@import "~bootstrap/scss/bootstrap";

body{
  background-color: #EEEEEE;
}
.contBarra{
    background-color:#FFE600;
    height: 52px;
    padding: 9px 0 0 0;
}

.conSearch{
  background-color: #EEEEEE;
  padding: 7px 12px 7px 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.searchField{
  width: 90%;
  border: none;
  height: 35px;
  padding: 0 0 0 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.logo{
  float: right;
}
.contThumbnail{
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.thumbnail{
  width: 180px;
}

.rowResult{
  padding: 16px;
  background-color: #FFFFFF;
  .title{
    color: #333333;
    font-size: 22px;
    font-weight: 400;
    width: auto;
    margin: 5px 0 20px 16px;
  }
  p{
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 0 16px;
  }
}
.categ{
  margin: 16px 0 16px 0;
  padding: 0;
  color: #999999;
}

p.localidad{
  color: #999999;
    font-size: 13px;
    font-weight: 500;
    margin: 26px 0 0 0;
}

.rowLine{
  background-color: #FFFFFF;
  hr{
      color: '#000000';
      background-color: '#000000';
      height: 0.5
  }
}

.shipping{  
  margin: 0 0 10px 10px;
}

.contThumbnailDetail{
  width: 680px;
  height: 680px;
  overflow: hidden;
}
.thumbnailDetail{
  width: 680px;
}