@import "~bootstrap/scss/bootstrap";

body{
  background-color: #EEEEEE;
}
.contBarra{
    background-color:#FFE600;
    height: 52px;
    padding: 9px 0 0 0;
}

.conSearch{
  background-color: #EEEEEE;
  padding: 7px 12px 7px 12px;
}

.searchField{
  width: 90%;
  border: none;
  height: 35px;
  padding: 0 0 0 15px;
}
.logo{
  float: right;
}
.thumbnail{
  width: 180px;
  height: 180px;
}